*{
    margin: 0;
    padding: 0;
}

div{
    height: 100px;
    width: 100px;
}

.container{
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow{
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
   
}
.purple {
    background-color: purple;
    z-index: 2;

    
}
}